APPLICATION_EXTENSION_API_ONLY = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
CONFIGURATION_BUILD_DIR = ${PODS_CONFIGURATION_BUILD_DIR}/SignalServiceKit
FRAMEWORK_SEARCH_PATHS = $(inherited) "${PODS_CONFIGURATION_BUILD_DIR}/CocoaLumberjack" "${PODS_CONFIGURATION_BUILD_DIR}/Curve25519Kit" "${PODS_CONFIGURATION_BUILD_DIR}/GRDB.swift" "${PODS_CONFIGURATION_BUILD_DIR}/LibSignalClient" "${PODS_CONFIGURATION_BUILD_DIR}/Mantle" "${PODS_CONFIGURATION_BUILD_DIR}/Reachability" "${PODS_CONFIGURATION_BUILD_DIR}/SAMKeychain" "${PODS_CONFIGURATION_BUILD_DIR}/SQLCipher" "${PODS_CONFIGURATION_BUILD_DIR}/SignalArgon2" "${PODS_CONFIGURATION_BUILD_DIR}/SignalCoreKit" "${PODS_CONFIGURATION_BUILD_DIR}/SwiftProtobuf" "${PODS_CONFIGURATION_BUILD_DIR}/YYImage" "${PODS_CONFIGURATION_BUILD_DIR}/blurhash" "${PODS_CONFIGURATION_BUILD_DIR}/libPhoneNumber-iOS" "${PODS_CONFIGURATION_BUILD_DIR}/libwebp" "${PODS_ROOT}/OpenSSL-Universal/Frameworks" "${PODS_ROOT}/YYImage/Vendor" "${PODS_XCFRAMEWORKS_BUILD_DIR}/OpenSSL-Universal"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
HEADER_SEARCH_PATHS = $(inherited) "${PODS_XCFRAMEWORKS_BUILD_DIR}/YYImage/WebP/Headers"
LIBRARY_SEARCH_PATHS = $(inherited) "${DT_TOOLCHAIN_DIR}/usr/lib/swift/${PLATFORM_NAME}" /usr/lib/swift
OTHER_CFLAGS = $(inherited) -DSQLITE_HAS_CODEC
OTHER_LDFLAGS = $(inherited) -framework "Accelerate" -framework "AssetsLibrary" -framework "CocoaLumberjack" -framework "CoreFoundation" -framework "CoreTelephony" -framework "Curve25519Kit" -framework "Foundation" -framework "GRDB" -framework "ImageIO" -framework "LibSignalClient" -framework "Mantle" -framework "MobileCoreServices" -framework "OpenSSL" -framework "QuartzCore" -framework "Reachability" -framework "SAMKeychain" -framework "Security" -framework "SignalArgon2" -framework "SignalCoreKit" -framework "SwiftProtobuf" -framework "SystemConfiguration" -framework "UIKit" -framework "YYImage" -framework "blurhash" -framework "libPhoneNumber_iOS" -framework "libwebp"
OTHER_SWIFT_FLAGS = $(inherited) -D COCOAPODS
PODS_BUILD_DIR = ${BUILD_DIR}
PODS_CONFIGURATION_BUILD_DIR = ${PODS_BUILD_DIR}/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PODS_ROOT = ${SRCROOT}
PODS_TARGET_SRCROOT = ${PODS_ROOT}/..
PODS_XCFRAMEWORKS_BUILD_DIR = $(PODS_CONFIGURATION_BUILD_DIR)/XCFrameworkIntermediates
PRODUCT_BUNDLE_IDENTIFIER = org.cocoapods.${PRODUCT_NAME:rfc1034identifier}
SKIP_INSTALL = YES
SWIFT_INCLUDE_PATHS = $(inherited) "${PODS_XCFRAMEWORKS_BUILD_DIR}/YYImage/WebP"
USER_HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/libwebp/src
USE_RECURSIVE_SCRIPT_INPUTS_IN_SCRIPT_PHASES = YES
