APPLICATION_EXTENSION_API_ONLY = YES
ARCHS[sdk=iphoneos*] = arm64
ARCHS[sdk=iphonesimulator*] = x86_64
CARGO_BUILD_TARGET[sdk=iphoneos*] = aarch64-apple-ios
CARGO_BUILD_TARGET[sdk=iphonesimulator*] = x86_64-apple-ios
CARGO_BUILD_TARGET[sdk=macosx*] = x86_64-apple-darwin
CARGO_BUILD_TARGET_DIR = $(DERIVED_FILE_DIR)/libsignal-ffi
CARGO_PROFILE_RELEASE_DEBUG = 1
CONFIGURATION_BUILD_DIR = ${PODS_CONFIGURATION_BUILD_DIR}/SignalClient
FRAMEWORK_SEARCH_PATHS = $(inherited) "${PODS_CONFIGURATION_BUILD_DIR}/CocoaLumberjack"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
LIBSIGNAL_FFI_DIR = $(CARGO_BUILD_TARGET_DIR)/$(CARGO_BUILD_TARGET)/release
LIBSIGNAL_FFI_LIB_IF_NEEDED = $(LIBSIGNAL_FFI_DIR)/libsignal_ffi.a
OTHER_LDFLAGS = $(LIBSIGNAL_FFI_LIB_IF_NEEDED) $(inherited)
OTHER_SWIFT_FLAGS = $(inherited) -D COCOAPODS
PODS_BUILD_DIR = ${BUILD_DIR}
PODS_CONFIGURATION_BUILD_DIR = ${PODS_BUILD_DIR}/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PODS_ROOT = ${SRCROOT}
PODS_TARGET_SRCROOT = ${PODS_ROOT}/SignalClient
PRODUCT_BUNDLE_IDENTIFIER = org.cocoapods.${PRODUCT_NAME:rfc1034identifier}
SKIP_INSTALL = YES
USE_RECURSIVE_SCRIPT_INPUTS_IN_SCRIPT_PHASES = YES
