APPLICATION_EXTENSION_API_ONLY = YES
ARCHS[sdk=iphoneos*] = arm64
ARCHS[sdk=iphonesimulator*] = x86_64
CARGO_BUILD_TARGET[sdk=iphoneos*] = aarch64-apple-ios
CARGO_BUILD_TARGET[sdk=iphonesimulator*] = x86_64-apple-ios
CARGO_BUILD_TARGET[sdk=macosx*] = x86_64-apple-darwin
CONFIGURATION_BUILD_DIR = ${PODS_CONFIGURATION_BUILD_DIR}/SignalClient
FRAMEWORK_SEARCH_PATHS = $(inherited) "${PODS_CONFIGURATION_BUILD_DIR}/CocoaLumberjack" "${PODS_CONFIGURATION_BUILD_DIR}/SignalCoreKit" "${PODS_ROOT}/GRKOpenSSLFramework/OpenSSL-iOS/bin"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
HEADER_SEARCH_PATHS = $(inherited) $(PODS_TARGET_SRCROOT)/swift/Sources/SignalFfi
LIBSIGNAL_FFI_LIB_IF_NEEDED = $(PODS_TARGET_SRCROOT)/target/$(CARGO_BUILD_TARGET)/release/libsignal_ffi.a
OTHER_LDFLAGS = $(LIBSIGNAL_FFI_LIB_IF_NEEDED) $(inherited) -framework "openssl"
OTHER_SWIFT_FLAGS = $(inherited) -D COCOAPODS
PODS_BUILD_DIR = ${BUILD_DIR}
PODS_CONFIGURATION_BUILD_DIR = ${PODS_BUILD_DIR}/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PODS_ROOT = ${SRCROOT}
PODS_TARGET_SRCROOT = ${PODS_ROOT}/SignalClient
PRODUCT_BUNDLE_IDENTIFIER = org.cocoapods.${PRODUCT_NAME:rfc1034identifier}
SKIP_INSTALL = YES
SWIFT_INCLUDE_PATHS = $(inherited) $(HEADER_SEARCH_PATHS)
USE_RECURSIVE_SCRIPT_INPUTS_IN_SCRIPT_PHASES = YES
